extends ../adminlayout
block admincss
  link(rel="stylesheet", href="/css/add.css")
block admincontent
  h2.page.header 添加文章
  form.vertical-form(method="post", action=action)
    label(for="title") 标题
    input.form-control.input-lg(name="title", required='true',placeholder="请输入标题。。。", value=post.title)
    label(for="content") 内容
    textarea#js-post-content.form-control(name="content", required='true') #{post.content}
    button(type="submit")= post.title ? "保存修改" : "发布"
  script(src="/js/ckeditor/ckeditor.js")
  script.
    if(typeof CKEDITOR !== 'undefined')
      CKEDITOR.replace('js-post-content')