.equipment-p {
    color: #fff;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.equipment{
    background-color: #07090C;
    border: 1px #404142 solid;
    margin-bottom: 1rem;
}
.weapens{
    background-color: #07090C;
    border: 1px #404142 solid;
}
.weapen img {
    width: 15rem;
    height: 7rem;
    margin-left: 8rem;
    margin-bottom: 2rem;
}
.ornaments{
    background-color: #07090C;
    border: 1px #404142 solid;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.ornaments img {
    width: 15rem;
    height: 7rem;
    margin-left: 8rem;
    margin-bottom: 2rem;
}