/* content_main */
.content .content_main{
    width: 100%;
    display: flex;
    justify-content:space-between;
}
/* content_main .content_left*/
.content .content_left{
    width: 60%;
    height: 700px;
    background-color: rgba(2, 2, 2, 0.5);
}
.content_left .sidle_container{
    width: 100%;
    height: 400px;
    border: 3px solid #fff;
    overflow: hidden;
}
.sidle_container .sidle_list img{
    max-width: 100%;
}
/* content_main .content_right*/
.content .content_right{
    width: 35%;
    background-color: #12161E;
}
.content .content_right h1 {
    color: #4AB0F3;
    text-align: center;
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.content .content_right_main {
    display: flex;
    justify-content:space-between;
}
.content .content_right_main p {
    color: #C9C9C9;
    font-size: 1.2rem
}
.content .content_right a{
    color: #96ADC9;
    line-height: 2em;
    font-size: 1.2rem;
}
.content .content_right a:hover{
    color: sandybrown;
}
.content .content_right p{
    color: #fff;
}
.content .content_right .more{
    text-align: right;
}


/* @media screen and (max-device-width: 400px) {
    .container {
        width: 100%;
        height: 100%;
        background-image: url('/images/logo.png');
        background-size: 100% 100%;
    }
} */