body {
    font: normal 100% Helvetica, Arial, sans-serif;
    background-image: url('/images/bg2.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
}
.postju{
    width: 80%;
    background-color: #fff;
    margin: 10rem auto;
    padding-top: 2rem;
    padding-bottom: 3rem;
}
.name{
    font-size: 2rem;
    color: #F3BF2C;
    text-align: center;
}
.time {
    font-size: 0.8rem;
    margin-left: 2rem;
    margin-bottom: 5rem;
    text-align: center;
}
