<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="shortcut  icon" type="image/x-icon" href="/images/favicon.ico" media="screen")
    link(rel="stylesheet", href="/css/reset.css")
    link(rel="stylesheet", href="/css/addforum.css")
    title #{title}
  body
    h2.page.header 发帖
    br
    br
    form.vertical-form(method="post", action="add")
      label.label-lg(for="title") 标题 &nbsp;&nbsp;&nbsp;
      br
      input.input-lg(name="title", required='true',placeholder="请输入标题。。。")
      br
      label(for="content") 内容
      br
      textarea#js-post-content(name="content", required='true')
      button.btn(type="submit") 发布
    script(src="/js/ckeditor/ckeditor.js")
    script.
      if(typeof CKEDITOR !== 'undefined')
        CKEDITOR.replace('js-post-content')