extends ../layout
block css
  link(rel="stylesheet", href="/css/equip.css")
block content
  .content
    .content_nav
      a(href="/exploits") 战绩查询
      a.active(href="/equip") 武器装备
      a(href="/forum") 游戏论坛
      a(href="/persion") 个人中心
    .weapen
      .equipment
        p.equipment-p 装备
        a(href="/armor")
          img(src="/images/weapen/防具.png", alt="", srcset="")
        a(href="/consumable")
          img(src="/images/weapen/消耗品.png", alt="", srcset="")
        a(href="/parts")
          img(src="/images/weapen/配件.png", alt="", srcset="")
      .weapens
        p.equipment-p 武器
        a(href="/sniperrifle")
          img(src="/images/weapen/狙击步枪.png", alt="", srcset="")
        a(href="/rifle")
          img(src="/images/weapen/突击步枪.png", alt="", srcset="")
        a(href="/shotgun")
          img(src="/images/weapen/霰弹枪.png", alt="", srcset="")
        a(href="/submachinegun")
          img(src="/images/weapen/冲锋枪.png", alt="", srcset="")
        a(href="/miscellaneous")
          img(src="/images/weapen/杂项武器.png", alt="", srcset="")
        a(href="/pistol")
          img(src="/images/weapen/手枪.png", alt="", srcset="")
        a(href="/closeweapon")
          img(src="/images/weapen/近战武器.png", alt="", srcset="")
        a(href="/investment")
          img(src="/images/weapen/投掷武器.png", alt="", srcset="")
      .ornaments
        p.equipment-p 饰品
        img(src="/images/weapen/s1.jpg", alt="", srcset="")
        img(src="/images/weapen/s2.jpg", alt="", srcset="")
