extends ../layout
block css
  link(rel="stylesheet", href="/css/equip.css")
block content
  .content
    .content_nav
      a(href="/exploits") 战绩查询
      a.active(href="/equip") 武器装备
      a(href="/forum") 游戏论坛
      a(href="/persion") 个人中心