extends ../layout
block css
  link(rel="stylesheet", href="/css/gamenews.css")
block content
  .content
    .content_nav
      a(href="/exploits") 战绩查询
      a(href="/equip") 武器装备
      a.active(href="/gamenews") 游戏新闻
      a(href="/persion") 个人中心
    h1 我是游戏新闻