extends ../layout
block css
  link(rel="stylesheet", href="/css/home.css")
block content
  .content
    .content_nav
      a(href="/exploits") 战绩查询
      a(href="/equip") 武器装备
      a(href="/discuss") 游戏论坛
      a(href="/persion") 个人中心
    .content_main
      .content_left
        .sidle_container
          .sidle_list
            img(src="/images/1.jpg", alt="")
            img(src="/images/2.jpg", alt="")
            img(src="/images/3.jpg", alt="")
      .content_right
        h1 游戏攻略
        each post in posts
          .content_right_main
            a(href='/post/' + post._id, target="_black") #{truncate(post.title,30)}
            p #{moment(post.meta.createdAt).format('YYYY-MM-DD')}
        p.more
          a(href='/posts') 更多资讯》》
    //- script(src="/js/slider.js")
