<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="shortcut  icon" type="image/x-icon" href="/images/favicon.ico" media="screen")
        link(rel="stylesheet", href="/css/login.css")
        title 登录
    body
      .login
        h1 登录
        if errinfo
            p.errinfo #{errinfo}
        form.form(method="post", action="/login" style="margin-top:20%;")
          label(for="signupName") 用户名
          input#signupName.input-sing(name="user[name]", type="text",required='true')
          label(for="signupPassword") 密码&nbsp;&nbsp;&nbsp;
          input#signupPassword.input-sing(name="user[password]", type="password",required='true')
          button.btn.btn-success.btn-signin(type="submit") 登录
          a.register(href="/register") 没有账号?立即注册