extends ../layout
block css
  link(rel="stylesheet", href="/css/persion.css")
block content
  .content
    .content_nav
      a(href="/exploits") 战绩查询
      a(href="/equip") 武器装备
      a(href="/forum") 游戏论坛
      a.active(href="/persion") 个人中心
    .content_persion
      if user
        p 名字是 #{user.name}
        form.form(method="post", action="persion")
          .content_input
            lable.lable(for="inputName") 输入你的游戏昵称
            input#nickname(type="text", name="nikename")
            button.btn(type="submit") 查询
        if idplayer
          p #{idplayer.data.attributes.name}
      else
        .plogin
          a.plogin(href="/login") 请先登录