extends ../layout
block css
  link(rel="stylesheet", href="/css/persion.css")
block content
  .content
    .content_nav
      a(href="/exploits") 战绩查询
      a(href="/equip") 武器装备
      a(href="/forum") 游戏论坛
      a.active(href="/persion") 个人中心
    .content_persion
      if user
        p.info 基本信息
        .userinfo
          p 你好 #{user.name}
          if idplayer
            p 游戏昵称：#{idplayer.data.attributes.name}
            p 赛季杀敌数：#{kills}
            if kills > 100
              p 传奇玩家
            else
              p 普通玩家
          else
            form.form(method="post", action="persion")
              .content_input
                lable.lable(for="inputName") 输入你的游戏昵称(只能填写一次不能修改)
                input#nickname(type="text", name="nikename")
                button.btn(type="submit") 确认
      else
        .plogin
          a.plogin(href="/login") 请先登录