extends ../layout
block css
  link(rel="stylesheet", href="/css/persion.css")
block content
  .content
    .content_nav
      a(href="/exploits") 战绩查询
      a(href="/equip") 武器装备
      a(href="/gamenews") 游戏新闻
      a.active(href="/persion") 个人中心
    .content_persion
      if user
        p 名字是 #{user.name}
      else
        p 请先登录