<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="shortcut  icon" type="image/x-icon" href="/images/favicon.ico" media="screen")
    link(rel="stylesheet", href="/css/base.css")
    link(rel="stylesheet", href="/css/oneinformation.css")
    title #{title}
  body
    a(href="/") 回到主页
    .postju
      .name #{post.title}
      .time #{moment(post.meta.createdAt).format('YYYY-MM-DD, h:mm:ss a')}
      .content!= post.content