<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="shortcut  icon" type="image/x-icon" href="/images/favicon.ico" media="screen")
    link(rel="stylesheet", href="/css/reset.css")
    block admincss
    title #{title}
  body
    .top_bar
      p.top_bar_p 恰鸡盒后台管理系统
      a(href="/") 首页
    .container-fluid
      ul
        li.nav
          a.nava(href='/admin/post') 文章列表
        li.nav
          a.nava(href='/admin/post/add') 文章录入
        li.nav
          a.nava(href='/admin/userlist') 用户列表
        //- li.nav
        //-   a.nava(href='/admin/category/new') 增加分类
        //- li.nav
        //-   a.nava(href='/admin/category/list') 分类列表
    block admincontent
